.board {
    width: 40vh;
    height: 600;
    display: flex;
    flex-wrap: wrap;
}
.list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;

}
.cell {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    
    text-align: left;
    border: 1px solid black;
    background-color: white;
}
.textbox {
    font-size: 32px;
    padding: 2px;
    width: 256px;
    text-align: left;
    margin-right: 4px;
  }